CatalogoCloud_V2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  ========================================================
  Módulo: LMSGI - CFGS DAM/DAW
  Autor: Willman Acosta Lugo
  Descripción: Esquema XSD con restricciones RegEx para validar catalogo.xml
  ========================================================
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <!-- ========================================== -->
    <!-- DEFINICIÓN DE TIPOS SIMPLES (CON REGEX)    -->
    <!-- ========================================== -->

    <!-- Validamos que el ID del servidor siga el patrón: srv-letras-numeros -->
    <xs:simpleType name="TipoIdServidor">
        <xs:restriction base="xs:string">
            <!-- RegEx: Empieza por srv-, seguido de letras minúsculas, guion, y exactamente 2
            dígitos -->
            <xs:pattern value="srv-[a-z]+-[0-9]{2}" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Validamos que la zona geográfica siga el estándar: 2 letras - texto - número -->
    <xs:simpleType name="TipoZona">
        <xs:restriction base="xs:string">
            <!-- RegEx: Ej. "eu-sur-1" o "us-east-2" -->
            <xs:pattern value="[a-z]{2}-[a-z]+-\d+" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Validamos que el Rack sea una letra mayúscula seguida de 1 o 2 números -->
    <xs:simpleType name="TipoRack">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]\d{1,2}" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Validamos que la versión del SO sean números, opcionalmente separados por un punto -->
    <xs:simpleType name="TipoVersion">
        <xs:restriction base="xs:string">
            <!-- RegEx: Ej. "15", "9", "22.04" -->
            <xs:pattern value="\d+(\.\d+)*" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Validamos el estado mediante un patrón de enumeración (Pipeline de RegEx) -->
    <xs:simpleType name="TipoEstado">
        <xs:restriction base="xs:string">
            <xs:pattern value="activo|mantenimiento|apagado" />
        </xs:restriction>
    </xs:simpleType>

    <!-- ========================================== -->
    <!-- ESTRUCTURA DEL DOCUMENTO (ELEMENTOS)       -->
    <!-- ========================================== -->

    <xs:element name="catalogo_cloud">
                <xs:element name="centro_datos" maxOccurs="unbounded">
                            <xs:element name="servidor" maxOccurs="unbounded">
                                <xs:complexType>
                                        <xs:sequence>
                                        <!-- Hardware -->
                                        <xs:element name="hardware">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:group name="ComponentesHardware">
                                                        <xs:sequence>
                                                            <xs:element name="cpu" type="xs:string"/>
                                                            <xs:element name="ram" type="xs:string"/>
                                                            <xs:element name="gpu" type="xs:string"  minOccurs="0"/>
                                                            <xs:element name="discos" type="xs:string" maxOccurs="8"/>
                                                        </xs:sequence>
                                                    </xs:group>


                                        <!-- Software -->
                                        <xs:element name="software">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="so">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="version"
                                                                        type="TipoVersion"
                                                                        use="required" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="servicios">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="servicio"
                                                                    maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension
                                                                                base="xs:string">
                                                                                <xs:attribute
                                                                                    name="puerto"
                                                                                    type="xs:integer"
                                                                                    use="required" />
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>

                                    </xs:sequence>
                                        
                                        <!-- Red -->
                                        <xs:element name="Red" type="xs:string"/>
                                        <xs:choice>
                                            <xs:element name="ip_fija" type="xs:int"/>
                                            <xs:element name="dhcp" type="xs:boolean"/>
                                        </xs:choice>


                                    <!-- Atributos del Servidor (Aplicando los tipos personalizados
                                    con RegEx) -->
                                    <xs:attributeGroup name="AtributosServidor">
                                        <xs:attribute name="id_activo" type="xs:ID" use="required"/>
                                        <xs:attribute name="rack" type="xs:string"/>
                                        <xs:attribute name="estado" type="xs:boolean"/>
                                    </xs:attributeGroup>
                                        
                                <!-- auditoria -->
                                 <xs:element name="auditoria">
                                    <xs:all>
                                        <xs:element name="fecha_revision" type="date" />
                                        <xs:element name="tecnico" type="string" />
                                        <xs:element name="nota" type="string" />
                                    </xs:all>
                                    
                                    
                                    <xs:unique name="UnicoID">
                                        <xs:selector xpath=".//servidor"/>
                                        <xs:field xpath="@id"/>
                                    </xs:unique>
                                            



                        <!-- Atributos del Centro de Datos -->
                        <xs:attribute name="ubicacion" type="xs:string" use="required" />
                        <xs:attribute name="zona" type="TipoZona" use="required" />

</xs:schema>